.gauge
.idea
logs
out
csvFiles
target
extent-report.html

# Proje kök dizinindeki 'reports' klasörünü (Gauge raporları) ignore et
/reports/

# Ancak 'src/test/java/altYapi/seleniumGauge/reports' klasörünü hariç tut
!src/test/java/altYapi/seleniumGauge/reports/
